<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- SEO -->
  {% seo %}
  <!-- CSS -->
  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/normalize.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/sme.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/fonts.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles/karrello.css" />
  <!-- JS -->
  <script src="{{ site.baseurl }}/assets/scripts/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/script.js" defer></script>
  <script src="{{ site.baseurl }}/assets/scripts/buttons.js"></script>
  <script src="{{ site.baseurl }}/assets/scripts/karrello.js" defer></script>
</head>