<ol>
{%- assign releases = site[page.collection] | sort: "date" -%}
{% for release in releases reversed %}
  {% if release.path != page.path %}
    {%- assign folder = release.path | split: "/" | shift | pop -%}
    {%- assign release_path = "" | split: "" | push: site.baseurl | push: release.collection | push: folder | join: "/" -%}
    {% assign cover_path = release_path | append: "/0.jpg" %}
    {% assign cover = release.image | default: cover_path %}
    <li>
      <a href="{{ site.baseurl }}{{ release.url }}">
        {%- if page.collection == "merchandise" -%}
        <div class="merch-item" style="background-image:url({{ cover }})"></div>
        {%- else -%}
        <img src="{{ cover }}" alt="{{ release.title }}">
        {%- endif -%}
        <p class="title">
          <strong>{{ release.title }}</strong>
          <br>
          {{ release.author | default: "&nbsp;" }}{% if release.volume %} <i>({{ release.volume }}){% endif %}</i>
        </p>
      </a>
    </li>
  {% endif %}
{% endfor %}
</ol>