---
---
// VAR
$arancio: #dd5032
$maron: #270e09
$giallo: #FFB241
$white: WhiteSmoke
$width: 50em

// HTML
html
  background: $arancio
  overflow-y: scroll

// BODY
body
  font-family: 'Roboto', 'sans-serif'
  text-align: center

// MAIN
footer, header, main
  max-width: $width
  margin: 0 auto
  padding: 1em
main.grid
  max-width: 90%

.wrapper
  background: $maron
  color: $white

main
  padding-bottom: 3em
  h1
    color: $giallo
    font-family: 'Play', 'sans-serif'
  h2
    margin-top: 0
    color: $arancio
  a:link, a:visited
    color: $white

// LINKS
a
  &:link, &:visited
    text-decoration: none
    color: black
  &:hover, &:active, &.active
    color: $giallo

// NAVIGATION
header
  img
    max-width: 100%
  ul
    list-style: none
    padding: 0
    margin: 0
    li
      font-family: 'Play', 'sans-serif'
      display: inline-block
      font-size: 1.3em
      line-height: 2em
      padding: 0 .4em
      font-weight: bold
      text-transform: uppercase
      a
        border-bottom: 2px solid $giallo

// GRID
ol
  list-style: none
  // text-align: left
  margin: 0
  padding: 0
  li
    display: inline-block
    margin: .2em
    text-align: center
    img
      width: 16em
      height: 16em
      position: relative
    .title
      font-size: small
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      max-width: 18em
      color: $arancio
      strong
        color: $giallo

// SLANT
.slant
  position: relative
  height: 20px
  svg
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 21px
    fill: $maron

.wrapper + .slant
  -moz-transform: scaleY(-1)
  -webkit-transform: scaleY(-1)
  -o-transform: scaleY(-1)
  transform: scaleY(-1)
  -ms-filter: flipw
  filter: flipw

// GALLERY
main
  display: flex
  flex-flow: row wrap
  justify-content: center
  h1, h2
    flex: 1 100%
  iframe
    flex: initial
    margin-bottom: 2.5em
  .gallery.release
    padding-left: 2.5em
    flex: 1
    text-align: center
    img
      max-width: 100%